.container {
  width: 100vw;
  height: 93vh;
  display: flex;
}
.sidebar {
  width: 30vw;
  height: 93vh;
  background-color: aliceblue;
  color: black;
}

.mainContent {
  width: 65vw;
  height: 93vh;
  background-color: rgba(240, 248, 255, 0.787);
  color: black;
}
